:root {
  --general-text: #312c27;
  --accent-text: #1f1711;
  --general-bg: #fff9f4;
  --accent-bg: #ffe0cb;
  --accent-color: #ffa55c;
  --hover-color: #ff9138;
  --color-grey: #b197b3;
  --transition: all 0.3s ease-in-out;
}

.body {
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 1.5;
  color: var(--general-text);
  background: var(--general-bg);
}

.body--opened-menu {
  overflow: hidden;
}

address{font-style: normal;}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.section__title {
  font-family: "Gabriola";
  font-size: 74px;
  line-height: 0.82;
  color: var(--accent-text);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 36px;
  border-radius: 60px;
  background-color: var(--accent-color);
  font-weight: 500;
  line-height: 1.6;
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--hover-color);
}

/* header */
.header {
  background-image: url("../img/decor/bg-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__top {
  padding-top: 19px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.header__link-logo {
  z-index: 11;
}

.header__logo {
  max-width: 174px;
}

.header__list {
  display: flex;
  gap: 4vh 40px;
}

.header__link {
  position: relative;
  display: block;
  padding: 5px 0;
  z-index: 10;
}

.header__link::after {
  content: "";
  position: absolute;
  top: -8px;
  left: -13px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--accent-color);
  opacity: 0;
  transition: var(--transition);
  z-index: -1;
}

.header__link:hover.header__link::after {
  opacity: 1;
}

.burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.burger-menu span,
.burger-menu span::after,
.burger-menu span::before {
  display: block;
  width: 30px;
  height: 3px;
  background-color: var(--accent-text);
  transition: all 0.4s ease-in-out;
}

.burger-menu span {
  position: relative;
}

.burger-menu span::after,
.burger-menu span::before {
  content: "";
  position: absolute;
}

.burger-menu span::after {
  top: -8px;
}

.burger-menu span::before {
  bottom: -8px;
}

.body--opened-menu .header__list {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}

.body--opened-menu .burger-menu span {
  background-color: transparent;
}

.body--opened-menu .burger-menu span::after {
  top: 0;
  transform: rotate(45deg);
}

.body--opened-menu .burger-menu span::before {
  bottom: 0;
  transform: rotate(-45deg);
}

/* hero */
.hero {
  padding-top: 48px;
  padding-bottom: 140px;
}

.hero__inner {
  display: flex;
  align-items: flex-end;
  gap: 10.7%;
}

.hero__content {
  display: flex;
  flex-direction: column;
  max-width: 519px;
}

.hero__info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.hero__info span {
  display: flex;
  align-items: center;
  color: var(--color-grey);
  line-height: 1.6;
  text-transform: uppercase;
}

.hero__info span::after {
  content: "";
  margin: 0 10px;
  width: 4px;
  height: 4px;
  background-color: var(--color-grey);
  border-radius: 50%;
}

.hero__info span:last-child::after {
  content: none;
}

.hero__title {
  margin-bottom: 30px;
}

.hero__descr {
  max-width: 358px;
  margin-bottom: 40px;
}

.hero__btn {
  max-width: 358px;
}

.hero__action {
  position: relative;
  margin-right: 160px;
}

.hero__action img {
  width: 100%;
}

.hero__play {
  position: absolute;
  bottom: 51px;
  right: -162px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  max-width: 200px;
}

.hero__play--mobile {
  display: none;
}

.hero__play-text {
  max-width: 112px;
  text-align: left;
}

.hero__btn-play {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 78px;
  height: 78px;
  padding-left: 6px;
  border-radius: 50%;
  background-color: var(--accent-bg);
  box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
}

.hero__btn-play::after {
  content: "";
  position: absolute;
  inset: 5px;
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  opacity: 0;
  transition: var(--transition);
}

.fslightbox-source {
  border-radius: 20px;
}

.hero__btn-play:hover.hero__btn-play::after {
  opacity: 1;
}

/* application */
.application {
  background-image: url("../img/decor/bg-footer.png");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}

.application__inner {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 84px;
  padding: 123px 0 137px;
}

.application__inner::before,
.application__inner::after {
  content: "";
  position: absolute;
  display: block;
}

.application__inner::before {
  top: 123px;
  left: 7px;
  width: 116px;
  height: 122px;
  background-image: url("../img/decor/berries.png");
}
.application__inner::after {
  top: 178px;
  right: 8px;
  width: 92px;
  height: 92px;
  background-image: url("../img/decor/berries-2.png");
}
.application__img {
  max-width: 574px;
}

.application__img img {
  width: 100%;
}

.application__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 420px;
  min-width: 290px;
}
.application__title {
  margin-bottom: 12px;
}

.application__descr {
  margin-bottom: 40px;
}
.application__form {
  display: flex;
  flex-direction: column;
}

.form__input {
  padding: 19px 28px;
  border: 1px solid #ac907a;
  border-radius: 100px;
  background: transparent;
  transition: var(--transition);
}

.form__input::placeholder {
  transition: var(--transition);
}

.form__input:hover {
  border-color: var(--accent-color);
}

.form__input:hover::placeholder {
  color: var(--accent-color);
}

.form__input:focus {
  border-color: var(--accent-color);
}

.form__input:not(:last-child) {
  margin-bottom: 10px;
}

.form__input:last-child {
  margin-bottom: 22px;
}

.custom-check {
  position: relative;
  display: inline-block;
  margin-bottom: -2px;
  width: 16px;
  height: 16px;
  border: 1.5px solid #ac907a;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  transition: var(--transition);
}

.custom-check::before {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background-image: url("../img/icons/check.svg");
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-position: center;
}

label {
  user-select: none;
}

label:hover .custom-check {
  border-color: var(--accent-color);
}

label input {
  display: none;
}

label input:checked ~ .custom-check::before {
  display: block;
}

label input:checked ~ .custom-check {
  border-color: var(--accent-color);
}

.application__link-policy {
  text-decoration: underline;
}

.application__btn {
  margin-top: 20px;
}

/* footer */
.footer {
  background-color: rgb(171, 130, 97);
  padding: 60px 0 60px;
  color: var(--general-bg);
}

.footer__inner {
  display: grid;
  gap: 30px 15px;
  grid-template-columns: 0.9fr 0.9fr 1fr auto;
  grid-template-rows: repeat(2, auto);
}

.footer__col:first-child {
  margin-top: -30px;
}

.footer__col:last-child {
  justify-items: end;
}

.footer__logo {
  max-width: 239px;
  margin-bottom: 4px;
}

.footer__descr {
  margin-bottom: 20px;
}

.socials__list {
  display: flex;
  gap: 15px;
}

.socials__link path {
  transition: var(--transition);
}

.socials__link:hover path {
  fill: var(--accent-color);
}

.footer__col-list {
  margin-bottom: -5px;
}

.footer__col-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__col-link {
  position: relative;
  display: block;
  padding: 5px 0;
  z-index: 10;
}

.footer__col-link::after {
  content: "";
  position: absolute;
  top: -8px;
  left: -13px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--accent-color);
  opacity: 0;
  transition: var(--transition);
  z-index: -1;
}

.footer__col-link:hover.footer__col-link::after {
  opacity: 1;
}

.footer__contact-item {
  line-height: 1.6;
}
.footer__contact-item img {
  margin-right: 8px;
}

.footer__contact-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__col-tel {
  display: flex;
  flex-direction: column;
  margin-bottom: 47px;
}
.footer-tel {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.6;
  transition: var(--transition);
}

.footer-tel:hover {
  color: var(--accent-color);
}
.footer__col-copy {
  color: #dec5b1;
}
