@media (max-width: 1100px) {
  /* hero */
  .hero__supported {
    flex-direction: column;
    gap: 20px;
  }

  /* offer */
  .offer__list {
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;
  }

  /* news */
  .news__list,
  .news__list-more {
    flex-wrap: wrap;
  }

  .news__wrapper::before,
  .news__wrapper::after {
    content: none;
  }

  /* footer */
  .footer {
    padding-top: 50px;
  }

  .footer__body {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-bottom: 50px;
  }

  .footer__col-1 {
    grid-column: 1/-1;
    justify-self: center;
  }

  .footer__logo {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
  }

  .footer__text {
    margin-bottom: 20px;
    max-width: none;
    text-align: center;
  }

  .footer__socials {
    justify-content: center;
  }

  .footer__platforms {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  /* header */
  .header__inner {
    justify-content: space-between;
  }

  .header__nav {
    position: fixed;
    inset: 0;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    gap: 30px;
    padding: 15vh 15px 10vh;
    background-color: var(--accent-bg);
    font-size: 24px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);
    transition: var(--transition);
    z-index: 10;
    overflow-y: scroll;
  }

  .header__list {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 0;
  }

  .header__link {
    font-size: 32px;
  }

  .header__link--more {
    display: none;
  }

  .accordion__content-list {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    max-height: 100%;
    padding: 0;
    overflow: auto;
    background-color: var(--accent-bg);
    box-shadow: none;
    border-radius: 0;
    transition: var(--transition);
    opacity: 1;
  }

  .accordion--opened .accordion__content-list {
    padding-top: 0;
    box-shadow: none;
    opacity: 1;
  }

  .accordion__content-item {
    margin-bottom: 0;
  }

  .burger-menu {
    display: flex;
  }

  .header__button-wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .header__btn {
    font-size: 24px;
    text-align: center;
    padding: 22px;
  }

  /* hero */
  .hero__content::after,
  .hero__content::before {
    content: none;
  }

  .hero__supported-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  /* benefits */
  .benefits__list {
    grid-template-columns: repeat(2, 1fr);
  }

  /* episodes */
  .episodes__list,
  .episodes__more {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .episodes__list::before {
    right: 2.3vw;
  }
}

@media (max-width: 800px) {
  /* global */
  :root {
    --margin-bottom-120: 60px;
  }
  /* about */
  .about__content {
    flex-direction: column;
    align-items: center;
  }

  .about__quote::after,
  .about__quote::before {
    content: none;
  }

  .about__quote-author {
    margin-left: 0;
  }

  .about__content-img {
    max-width: 220px;
  }

  /* testimonials */
  .testimonials__title::after {
    content: none;
  }

  /* benefits */
  .benefits__title::after {
    content: none;
  }

  .benefits__list {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    row-gap: 40px;
  }

  .benefits__item {
    max-width: none;
  }

  /* episodes */
  .episodes__list::before {
    content: none;
  }

  /* offer */
  .offer__list::before,
  .offer__list::after {
    content: none;
  }

  .offer__title::before {
    content: none;
  }

  /* download */
  .download-decor-1,
  .download-decor-2,
  .download-decor-3,
  .download-decor-4 {
    display: none;
  }

  /* footer */
  .footer__body {
    grid-template-columns: 1fr;
  }

  .footer__col-3 {
    text-align: center;
  }

  .footer__platforms {
    margin-bottom: 30px;
  }

  .footer__stores {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  /* global */
  :root {
    --margin-bottom-100: 50px;
  }
  .section__title {
    font-size: 40px;
  }

  .section-offset {
    padding: 60px 0;
  }

  .section-decor::before,
  .section-decor--black::before {
    top: -50px;
    height: 110px;
  }

  /* header */
  .header__link {
    font-size: 24px;
  }

  .header__nav {
    gap: 15px;
  }

  .header__button-wrapper {
    gap: 15px;
  }

  .header__btn {
    padding: 15px;
    font-size: 20px;
  }

  /* hero */
  .hero {
    padding-bottom: 60px;
  }

  .hero__title {
    margin-bottom: 20px;
    font-size: 15vw;
  }

  .hero__descr {
    margin-bottom: 30px;
  }

  /* about */
  .about__content-img {
    margin-bottom: 0;
    max-width: 180px;
  }

  .about__quote {
    padding: 20px;
  }

  .about__quote-icon {
    margin-bottom: 30px;
  }

  .about__quote-text {
    font-size: 30px;
  }

  /* testimonials */
  .testimonials__slider {
    margin-bottom: 30px;
  }

  .testimonials__author {
    justify-content: center;
  }

  /* episodes */
  .episodes__body {
    gap: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    text-align: center;
  }

  .episodes__content {
    align-items: center;
  }

  .episodes__list {
    margin-bottom: 50px;
  }

  .episodes__list-title {
    margin-bottom: 0px;
  }

  /* offer */
  .offer__card {
    padding: 30px 15px 20px;
  }

  .offer__card-second {
    padding: 20px;
  }

  /* news */
  .news__list-more {
    margin-bottom: 50px;
  }

  .news__arcticle {
    min-height: 100%;
    padding: 10px;
  }

  .news__article-img {
    margin-bottom: 15px;
  }

  .news__article-title {
    margin-bottom: 10px;
    font-size: 28px;
  }

  /* download */
  .download__descr {
    margin-bottom: 50px;
  }

  /* footer */
  .footer__nav-list {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .footer__bottom {
    justify-content: center;
  }
}
