.wrapper {
  height: 600px;
  background-color: cadetblue;
  border-radius: 20px 0 0 20px;
  overflow: auto;
}
.block {
  display: inline-block;
  margin: 5px;
  width: 180px;
  padding: 20px;
  background-color: bisque;
  border-radius: 20px;
  box-shadow: inset 0 0 10px 0 #000;
}
